annotated-types==0.7.0
argcomplete==3.6.2
attrs==25.1.0
audioop-lts==0.2.2
audioread==3.0.1
bcc==0.33.0
borgbackup==1.4.1
boto3==1.40.19
botocore==1.40.19
Brlapi==0.8.6
certifi==2025.7.9
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-345-build/cockpit-345/tmp/wheel/cockpit-345-py3-none-any.whl#sha256=db6a0d77ed4bba2dc41c8c18d7e4c351c527ff875ebb3bbe4348e70a5c755bbd
contourpy==1.3.3
cryptography==44.0.0
cupshelpers==1.0
cycler==0.12.1
daemonize==2.5.0
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
Deprecated==1.2.18
distro==1.9.0
dnspython==2.6.1
email_validator==2.2.0
evdev==1.9.1
fido2==1.2.0
file-magic==0.4.0
filelock==3.19.1
fonttools==4.59.1
fros==1.1
fsspec==2025.7.0
fw-fanctrl==1.0.2
gssapi==1.7.3
idna==3.10
ifaddr==0.1.7
imageio==2.37.0
imageio-ffmpeg==0.6.0
input-remapper==2.1.1
ipaclient==4.12.2
ipalib==4.12.2
ipaplatform==4.12.2
ipapython==4.12.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jwcrypto==1.4.2
kcli==99.0
keyring==25.6.0
kiwisolver==1.4.9
langtable==0.0.69
lazy_loader==0.4
librosa==0.11.0
libvirt-python==11.0.0
llfuse==1.5.1
llvmlite==0.44.0
louis==3.33.0
lxml==5.3.2
MarkupSafe==3.0.2
matplotlib==3.10.5
more-itertools==10.5.0
moviepy==2.2.1
mpmath==1.3.0
msgpack==1.1.0
netaddr==1.3.0
networkx==3.5
nftables==0.1
numba==0.61.2
numpy==2.2.6
olefile==0.47
openrazer_daemon==3.10.3
osbuild==158
packaging==24.2
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.8
ply==3.11
podman-compose==1.4.1
pooch==1.8.2
prettytable==3.10.0
proglog==0.1.12
psutil==6.1.1
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.25.1
pycparser==2.20
pycups==2.0.4
pydantic==2.10.6
pydantic_core==2.27.2
pydbus==0.6.0
pyenchant==3.2.2
pygdbmi==0.11.0.0
PyGObject==3.50.0
pyinotify==0.9.6
pyparsing==3.2.3
pypng==0.0.21
pyscard==2.0.5
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-ldap==3.4.4
python-linux-procfs==0.7.3
python-yubico==1.3.3
pyudev==0.24.3
pyusb==1.3.1
pyxdg==0.27
PyYAML==6.0.2
pyynl @ file:///builddir/build/BUILD/kernel-6.14.11-build/kernel-6.14.11/linux-6.14.11-300.fc42.x86_64/tools/net/ynl
pyzfs==2.3.4
qrcode==8.0
RapidFuzz==3.11.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rpds-py==0.25.0
rpm==4.20.1
s3transfer==0.13.1
scikit-learn==1.7.1
scipy==1.16.1
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.8-build/libselinux-3.8/src
sentry-sdk==2.21.0
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.8-build/selinux-3.8/python/sepolicy
setools==4.5.1
setproctitle==1.3.6
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35-build/setroubleshoot-3.3.35/src
setuptools==74.1.3
shtab==1.7.1
simpleaudio==1.0.4
six==1.17.0
sos==4.10.0
soundfile==0.13.1
soxr==0.5.0.post1
SSSDConfig==2.11.1
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
sympy==1.14.0
systemd-python==235
threadpoolctl==3.6.0
torch==2.8.0+cpu
torchaudio==2.8.0+cpu
torchvision==0.23.0+cpu
tqdm==4.67.1
typing_extensions==4.12.2
udica==0.2.8
urllib3==2.3.0
wcwidth==0.2.13
wheel==0.45.1
wrapt==1.17.1
yubikey-manager==5.7.1
